body{
    background-color: rgb(7, 7, 228); 
}
form{
    color: yellow;
    font-size: 20px;
    margin: 2rem;
    padding: 2rem;
}
button{
    background-color: yellow;
    color: blue;
    border-radius: 10rem;
    width: 30rem;
    height: 3rem;
    
    
}
button:hover{
    cursor: pointer;
    transition: 2s;
    background-color: black;
    
}
input{
    border-style: none;
    width: 15rem;
    border-radius: 8px;
    margin: 20px ;
    padding: 5px;
    border-radius: 30rem;
     
} 
input:invalid{
    border: 1px solid red;
}
fieldset{
    background-color: black;
    color: blue;
}




    
