body{
    background-color: rgb(7, 7, 228); 
}
form{
    color: yellow;
    font-size: 20px;
    margin: 2rem;
    padding: 2rem;
}
button{
    background-color: yellow;
    color: blue;
    
}
    



    
