body{
    background-color: rgb(7, 7, 228); 
}
form{
    color: yellow;
    font-size: 20px;
    margin: 2rem;
    padding: 2rem;
}
button{
    background-color: yellow;
    color: blue;
    border-radius: 10rem;
    width: 30rem;
    height: 3rem;
    
    
}
button:hover{
    cursor: pointer;
    transition: 1s;
    background-color: black;
    
}
input{
    border-style: none;
    width: 15rem;
    border-radius: 8px;
    margin: 20px ;
    padding: 5px;
    border-radius: 30rem;
    border-radius: 10rem;
    width: 30rem;
    height: 3rem;

     
} 
input:invalid{
    border: 1px solid red;
}
fieldset{
    
    color: yellow;
text-align: start;
width: 30rem;
}
#set>input{
    width: 25px;
    border-style: none;
    height: 1rem;

}
#set{
    border-style: none;
}
.button{
    font-size: 20px;
    justify-content: center;
}




    
